header{
    background-color: #f5ba13;
    margin: auto -16px;
    padding: 16px 32px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1{
    color: #fff;
    font-family: "McLaren", cursive;
    font-weight: 200;
}

h1{
    font-family: "McLaren", cursive;
}

p{

    font-size: 20px;
}

i{
    font-size: 20px;
}

.table.sticky th{
    position: sticky;
    top: 0;
    color: black;
    background-color: hsl(219, 70%, 96%);
    border-style: groove;
    border-width: 2px;
  }
  .table.sticky th::after{
    content:'';
    width: 100%;
    height: 2px;
    position: absolute;
    bottom:0;
    left: 0;
    background-color: black;
    border-style: groove;
    border-width: 2px;
  }

  hr.style-eight {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
hr.style-eight:after {
    content: "Data table";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}

.circle{
    animation: pulse 2s infinite;
    background-color: rgba(255,82, 82, 1);
    border-radius: 50%;
    height: 20px;
    width: 20px;
    margin-left: 500px;

}

@keyframes pulse{
    0% {
        transform: scale(0.9);
        box-shadow: 0 0 0 0 rgba(255,82, 82, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 5px rgba(255,82, 82, 0);
    }

    100% {
        transform: scale(0.9);

    }
}